<div class='c-widget'>
  <div class='c-subscribe'>
    <h3 class='u-type-500 u-mb-8'>{{t 'Don’t miss an article'}}</h3>
    <p class='u-type-500 u-mb-16'>{{t 'Get the latest procurement and spend management insights in your inbox.'}}</p>

    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "na1",
        portalId: "1903299",
        formId: "33a00e3f-0550-45db-85d9-4795ba487ded",
        cssClass: 'custom-subscribe-hubspot-form sidebar-hs-form',
      });
    </script>
  </div>
</div>